.cache
build
node_modules
.git
.gitignore
.env
.env.*
*.sqlite
*.sqlite-journal
prisma/dev.sqlite
prisma/dev.sqlite-journal
npm-debug.log
.DS_Store
.idea
.vscode
README.md
CHANGELOG.md
Dockerfile
.dockerignore
